@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: #613594;
    color: white;
}

h2 {
font-size: 5rem;
font-weight: bold;
}

.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.day,
.hour,
.minute,
.second {
    font-size: 3rem;
}

.hour,
.hour2 {
    margin-left: 50px;
}

.minute,
.minute2 {
    margin-left: 50px;
}

.second,
.second2 {
    margin-left: 50px;
}